
html{
  height: 100%;
}

body{
  font-family: 'Fjalla One', sans-serif;
  background: $background;
}



h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.title{
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;

}

.title{
  &:nth-child(1){
    color: $red;
  }
  &:nth-child(2){
    color: $green;
  }
  &:nth-child(3){
    color: $yellow;
  }
}

pre.poem {
	line-height: 1000000 px;
}
